body{
    text-align: center;
    justify-content: center;
    background: gray;
}

button, #form input[type="submit"] {
    background: red;
    color: white;
    padding: 4px 10px;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    transition: 0.8s;
    cursor: pointer;
}

button:hover, #form input[type="submit"]:hover {
    background: black;
    color: green;
    padding: 8px 30px;
}

#form{ 
    width: 90%;
    padding: 3%;
}

#form label{
        display: block;
        text-align: left;
       
}

#form input, #form textarea{

    display: block;
     width: 100%;   
    padding: 10px 10px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.main-to-do-list{
    
    width: 20rem;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    height: auto;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 25px;
}


